.heightgalery {
    
    background-color: #F8D39C;
   }

.imagegallery {
    width: 100%;

}

.imagenone {
    display:none;
}

@media (min-width:1020px) {
    .imagenone {
        display:block;
    }
}