.customNavbar {
  background-color: rgb(240, 240, 240);
  padding: 10px;
}

.imgLogo {
  width: 50px;
}

 .customLink {
   color: rgb(0, 0, 0);
   text-decoration: none;
   font-size: 1rem;
   padding: 10px;
   border: 2px solid rgba(0, 0, 0, 0);
 }
 
 @media (min-width:1020px) {
  
  .customLink:hover {
    border-bottom: 2px solid rgb(215, 147, 64);
    color: black;
    transition: 0.5s;
  }
  
}