@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');


.container {
  display: flex;
  align-items: center;
  margin: 20px;
  margin-top: 50px;
}

.image {
  width: auto;
  display: flex;
  justify-content: center;
  background-color: #F8D39C;
  border-radius: 10px;
  box-shadow: 0 4px 8px #333;
}

.text {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.text h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333; /* Color del texto */
  font-family: Agbalumo;
}

.text p {
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #666; 
}

.imageGallery {
  width: 100%;
  height: auto;
  display: block;
}


@media screen and (min-width: 1024px) {
  
  .image {
    width: 50%
  }
  
  .text {
    width: 50%;
  }
}