.aboutUs {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  height: 500px;
  margin-bottom: 400px;
}

.title{
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: title 3s linear infinite;
  display: inline-block;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

@keyframes title {
  to {
    background-position: 200% center;
  }
}

.memberCard {
  width: 250px;
  height: 370px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 15px;
  color: #000000;
  background: rgb(248,211,156);
  background: linear-gradient(180deg, rgba(248,211,156,1) 0%, rgba(248,211,156,1) 39%, rgba(242,186,82,1) 100%);
  position: relative;
  margin-top: 20px;
}

.memberImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.413);
  position: relative;
}

.memberName {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.memberDescription {
  font-size: 1rem;
  margin: 10px 0;
}

.socialIcons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 17px;
  font-size: 25px;
}

.linkedinIcon {
  color: #0077B5;
  box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}

.githubIcon {
  color: #686868;
  box-shadow: 0 4px rgba(0, 0, 0, 0.2);
} 

@media screen and (min-width: 1024px) {

  .aboutUs {
    margin-bottom: 20px;
  }

  .memberCard {
    width: 250px;
    height: 210px;
    transition: height 0.5s;
    margin-bottom: 200px;
  }
  
  .memberCard:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.537);;
    height: 340px;
    transition-timing-function: ease;
  }
  
  .memberImage {
    transition: transform 0.6s;
    position: absolute;
    top: 0;
    display: flex;
    margin-left: 11px;
  }
  .memberCard:hover .memberImage {
    transform: translateY(-30px);
  }

  .memberName {
    opacity: 0;
    transition: 0.6s;
    
  }
  .memberCard:hover .memberName{
    margin-top: 180px;
    opacity: 1;
  }

  .memberDescription {
    opacity: 0;
  }
  .memberCard:hover .memberDescription{
    opacity: 1;
  }

  .socialIcons {
    opacity: 0;
  }
  .memberCard:hover .socialIcons{
    opacity: 1;
  }
}

@media screen and (max-width: 430px) {
  .aboutUs {
    margin-bottom: 1200px
  }
}